Lab4Client/Lab4GraphicalClient/Connected Services/Lab4Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Lab4Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILab4Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILab4Service_Calc_InputMessage">
    <wsdl:part name="parameters" element="tns:Calc" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Calc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcResponse" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Day" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:DayResponse" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_SerializeFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:SerializeFrom" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_SerializeFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SerializeFromResponse" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ILab4Service_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="ILab4Service">
    <wsdl:operation name="Calc">
      <wsdl:input wsaw:Action="http://tempuri.org/ILab4Service/Calc" message="tns:ILab4Service_Calc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILab4Service/CalcResponse" message="tns:ILab4Service_Calc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Day">
      <wsdl:input wsaw:Action="http://tempuri.org/ILab4Service/Day" message="tns:ILab4Service_Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILab4Service/DayResponse" message="tns:ILab4Service_Day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="http://tempuri.org/ILab4Service/Check" message="tns:ILab4Service_Check_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILab4Service/CheckResponse" message="tns:ILab4Service_Check_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SerializeFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/ILab4Service/SerializeFrom" message="tns:ILab4Service_SerializeFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILab4Service/SerializeFromResponse" message="tns:ILab4Service_SerializeFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ILab4Service/Test" message="tns:ILab4Service_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILab4Service/TestResponse" message="tns:ILab4Service_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILab4Service" type="tns:ILab4Service">
    <wsp:PolicyReference URI="#NetTcpBinding_ILab4Service_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Calc">
      <soap12:operation soapAction="http://tempuri.org/ILab4Service/Calc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Day">
      <soap12:operation soapAction="http://tempuri.org/ILab4Service/Day" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/ILab4Service/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerializeFrom">
      <soap12:operation soapAction="http://tempuri.org/ILab4Service/SerializeFrom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/ILab4Service/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab4Service">
    <wsdl:port name="NetTcpBinding_ILab4Service" binding="tns:NetTcpBinding_ILab4Service">
      <soap12:address location="net.tcp://localhost:282/LAB4Service.Service1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:282/LAB4Service.Service1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-OP1ART7\SKOCH</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>